.all {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #6f11bb;
  }

  
  .section {
	width: 520px;
	max-width: 520px; /* novo valor para o tamanho máximo da seção */
	margin: 0 auto;
	display: flex;
	justify-content: center; /* adiciona alinhamento horizontal para centralizar */
	
  }
  
  .divisao {
	
	background-color: #cac5c5;
	padding: 20px;
	border-radius: 10px;
	width: 100%;
	max-width: 520px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .formulario {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .texto {
	margin-top: 10px;
	padding: 8px;
  }
  
  .input {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 5px #888;
	text-align: center;
	align-items: center;
	width: 215px;
  }
  
  .botao {
	padding: 10px;
	background-color: #1900ff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .botao:hover {
	background-color: #4d3e8e;
  }

  
  .alerta {
	position: relative;
	display: inline-block;
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
  }
  
  .alerta-erro {
	position: absolute;
	width: 350px;
	margin-top: 5px;
	font-size: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(231, 4, 4);
  }
  
  .alerta-sucesso {
	position: absolute;
	width: 350px;
	margin-top: 5px;
	font-size: 25px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color:  #4CAF50;
  }
  
  
